<wm-page data-ng-controller="MainPageController" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-content name="content1">
        <wm-left-panel columnwidth="2" content="leftnav" name="left_panel1"></wm-left-panel>
        <wm-page-content columnwidth="8" name="page_content1">
            <wm-menu caption="Menu" name="menu1"></wm-menu>
            <wm-composite name="composite1">
                <wm-label class="col-md-3" name="label1"></wm-label>
                <wm-container class="col-md-9" name="container1">
                    <wm-textarea name="textarea1"></wm-textarea>
                </wm-container>
            </wm-composite>
        </wm-page-content>
        <wm-right-panel columnwidth="2" content="rightnav" name="right_panel1"></wm-right-panel>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>